/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: #ff9800;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Navigation */
nav {
    margin: 10px 0;
}

nav a {
    margin: 0 10px;
}

/* Main */
main {
    padding: 20px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    background: #ff9800;
    color: white;
    position:absolute;
    width:100%;
    bottom:0px;
}

p {
    font-family: 'Lucida Sans', sans-serif;
}

img {
    width: 500px;
    height: 600px;
}