<nav>
    <a href="ITIS3135/index.html">ITIS3135 page</a> |
    <a href="https://www.linkedin.com/in/maanav-chopra-803901347/">LinkedIn</a> |
    <a href="https://github.com/Mchopra2-801429223">GitHub</a> |
    <a href="http://mchopra2-801429223.github.io">GitHub Pages</a> |
    <a href="https://webpages.charlotte.edu/mchopra2">UNCC site</a> |
    <a href="ITIS3135/whimsicalcompany/index.html">Majestic Cougar</a> |
    <a href="ITIS3135/ChopraCustomWorks/index.html">CCW [personal site]</a> |
    <a href="ITIS3135/Stuff/MYAWFULCRAPPYWEBSITE.html">Crappy Page</a> |  
    <a href="ITIS3135/Midterm-Hobbysite/Hobby.html">Midterm-Hobbysite</a> |
</nav>
<p>
    &copy; Feb 2025 Maanav Chopra
    <br><br>
    <a href="https://validator.w3.org/check?uri=referer">HTML Validation</a> |
    <a href="https://jigsaw.w3.org/css-validator/check/referer">CSS Validation</a>
</p>
<script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>