/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
}

/* Header */
header {
    background: #ff9800;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Navigation */
nav {
    margin: 10px 0;
}

nav a {
    margin: 0 10px;
}

/* Main */
main {
    padding: 20px;
    text-align: center;
}

p {
    font-family: 'Lucida Sans', sans-serif;
}

/* Footer */
footer {
    text-align: center;
    background: #ff9800;
    color: white;
    width:100%;
    height: 100px;
    bottom:0px;
    background-position: center;
}

img {
    width: 512px;
    height: 512px;
}





